.card {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  cursor: pointer;
  margin-bottom: 10px;
  user-select: none;
}
.centered {
  text-align: center;
}
.cardTitle {
  font-size: 17px;
  font-weight: 600;
}
