.footer {
  background-color: #37474f;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.designedBy {
  font-size: 15px;
  font-weight: 400;
}
.socialLinks svg {
  font-size: 23px;
  margin-bottom: -5px;
  cursor: pointer;
  color: #fff;
}
.socialLinks svg:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
